/*-------------------------------------------
 *   Application Styling
-------------------------------------------*/

/* --- Modal Styling ---*/


/* --- Dynamic classes for types ---*/
    
.water {
 background-color: rgb(101, 174, 216);
}

.normal {
    background-color: rgb(212, 212, 212);
}

.grass {
    background-color: rgb(110, 212, 110);
}

.fire {
    background-color: rgb(182, 92, 92);
}

.electric {
    background-color: rgb(238, 212, 98);
}

 /* .water {
    background-color: rgb(101, 174, 216);
   }
   
  .normal {
       background-color: rgb(212, 212, 212);
   }
   
   .grass {
       background-color: rgb(110, 212, 110);
   }
   
   .fire {
       background-color: rgb(182, 92, 92);
   }
   
   .electric {
       background-color: rgb(238, 212, 98);
   }*/


/* ------------------------------------------
*   Layouts
-------------------------------------------*/

*{
font-size: 20px;
padding: 5px;
}

body {
display: flex;
flex-direction: column;
margin: 0;
font-family: Helvetica, sans-serif;
padding: 1rem;
}

/* Header */

.top {
min-height: 15vh;
background-color: rgb(136, 191, 183);
}

/* Center content */

.center {

display: flex;
background-color: rgb(230, 246, 244);
min-height: 70vh;

}

.side{
background-color: rgb(75, 131, 121);
flex: 1;
}

#app{
background-color: rgb(230, 246, 244);
flex: 9;
padding: 1.5rem;
}

#create-form {
text-align: center;

}

h1 {
text-align: center;
color: rgb(251, 255, 254);
font-size: 3rem;
margin: 0.5rem;
}

input, select {
background-color: rgb(242, 244, 245);
}

button {
    background-color: rgb(76, 172, 169);
    color: azure;
    padding: 0,5rem;
}